- model_class = Comment
.form-inline{role: "form"}
  = form_for [:prototypes, @comment ] do |f|
    %h4 Write a comment
    .row
      .form-group.col-md-10
        = f.text_area :text, placeholder: "Your comments", rows: "3",class: "form-control"
      .form-group.col-md-2
        =f.submit class: "btn btn-primary"
